.termsofuse-e-40 {
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vId-color-token-c);
    z-index: 1000;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 80px;
    min-width: 20px;
    position: relative;
    display: flex;
    margin-right: auto
}

.termsofuse-e-41 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 1300px;
    position: relative
}

.termsofuse-e-42 {
    padding: 0px 20px 0px 0px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 20px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsofuse-e-43 {
    font-family: var(--vId-font-token-a);
    font-size: 30px;
    font-weight: 500;
    color: var(--vId-color-token-d);
    line-height: 40px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-44 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
    z-index: 2500;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    margin-right: auto;
    position: relative
}

.termsofuse-e-49 {
    padding: 0px 0px 0px 0px;
    color: var(--vId-color-token-d);
    font-size: 22px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: none;
    position: relative
}

.termsofuse-e-45 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-48 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-47 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: px;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-46 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: NaNpx;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-50 {
    padding: 10px 20px 10px 20px;
    background-color: var(--vId-color-token-a);
    border-radius: 12px 12px 12px 12px;
    border-width: 0px 0px 0px 0px;
    border-style: groove groove groove groove;
    border-color: #333 #333 #333 #333;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 600;
    color: #ffffffff;
    line-height: 24px;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-height: 50px;
    min-width: 92px
}

.termsofuse-e-51 {
    padding: 0px 0px 0px 0px;
    color: var(--vId-color-token-d);
    font-size: 22px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 10px;
    min-height: 10px;
    display: none;
    position: relative
}

.termsofuse-e-1 {
    padding: 100px 16px 100px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--vId-color-token-c);
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: none none none none;
    border-color: transparent transparent transparent transparent;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: none;
    position: relative
}

.termsofuse-e-2 {
    padding: 10px 0px 10px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    max-width: 1000px;
    position: relative;
    display: flex;
    margin-right: auto
}

.termsofuse-e-3 {
    font-family: var(--vId-font-token-b);
    font-size: 56px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    text-align: center;
    line-height: 64px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: none;
    margin-bottom: 40px
}

.termsofuse-e-4 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    display: flex;
    max-width: 1000px;
    position: relative
}

.termsofuse-e-5 {
    padding: 30px 0px 0px 0px;
    flex-direction: column;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-6 {
    font-family: var(--vId-font-token-b);
    font-size: 32px;
    font-weight: 700;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 42px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    opacity: 100%;
    z-index: 1;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: none
}

.termsofuse-e-35 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-7 {
    padding: 0px 0px 20px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-8 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-9 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-10 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-11 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-12 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-13 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-14 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-15 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-16 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-17 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-18 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-19 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-20 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-21 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-22 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-26 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-27 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-28 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-29 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-30 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-31 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-32 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-33 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-34 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-23 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-24 {
    font-family: var(--vId-font-token-b);
    font-size: 24px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 34px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-25 {
    font-family: var(--vId-font-token-b);
    font-size: 18px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 28px;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) translateZ(0px);
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    position: relative
}

.termsofuse-e-52 {
    padding: 50px 16px 20px 16px;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    background-color: var(--vId-color-token-c);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: auto;
    max-width: 1980px;
    position: relative
}

.termsofuse-e-78 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
    border-width: 0px 0px 0px 0px;
    border-style: solid none none none;
    border-color: #0000007f transparent transparent transparent;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1300px;
    position: relative
}

.termsofuse-e-84 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 500px;
    position: relative
}

.termsofuse-e-86 {
    font-family: var(--vId-font-token-a);
    font-size: 18px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 28px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-85 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 20px 0px;
    line-height: 26px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-79 {
    padding: 0px 0px 20px 0px;
    flex-direction: column;
    align-items: stretch;
    -moz-column-gap: 12px;
         column-gap: 12px;
    row-gap: 15px;
    height: auto;
    width: 100%;
    display: flex;
    max-width: 400px;
    position: relative
}

.termsofuse-e-80 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 16px;
         column-gap: 16px;
    height: auto;
    width: 100%;
    display: flex;
    position: relative
}

.termsofuse-e-81 {
    padding: 8px 16px 8px 12px;
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: var(--vId-color-token-d);
    line-height: 26px;
    background-color: #ffffff00;
    border: 1px solid #cccccc;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: var(--vId-color-token-d) var(--vId-color-token-d) var(--vId-color-token-d) var(--vId-color-token-d);
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    min-height: 48px;
    max-width: 365px
}

.termsofuse-e-82 {
    padding: 10px 42px 10px 42px;
    background-color: #efefef00;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: var(--vId-color-token-d) var(--vId-color-token-d) var(--vId-color-token-d) var(--vId-color-token-d);
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    line-height: 26px;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.termsofuse-e-83 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-53 {
    padding: 50px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 120px;
         column-gap: 120px;
    border-radius: 0px 0px 0px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid none none none;
    border-color: var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26);
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1300px;
    position: relative
}

.termsofuse-e-54 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 200px;
    position: relative
}

.termsofuse-e-55 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 26px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-56 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 8px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsofuse-e-57 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-60 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-59 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-58 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-67 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 200px;
    position: relative
}

.termsofuse-e-68 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 26px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-69 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 8px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsofuse-e-70 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-73 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-72 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-71 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-61 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 15px;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    max-width: 200px;
    position: relative
}

.termsofuse-e-62 {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 26px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-63 {
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    row-gap: 8px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsofuse-e-64 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-66 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-65 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-74 {
    padding: 30px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
    border-width: 1px 0px 0px 0px;
    border-style: solid none none none;
    border-color: var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26) var(--vId-83e7c067-5e0e-4108-8929-ed41d6c26f26);
    border-radius: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    display: flex;
    margin-right: NaNpx;
    max-width: 1300px;
    position: relative
}

.termsofuse-e-75 {
    font-family: var(--vId-font-token-a);
    font-size: 24px;
    font-weight: 600;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 34px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

.termsofuse-e-76 {
    padding: 0px 0px 0px 0px;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 12px;
         column-gap: 12px;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative
}

.termsofuse-e-77 {
    font-family: var(--vId-font-token-a);
    font-size: 14px;
    font-weight: 400;
    color: var(--vId-color-token-d);
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    opacity: 100%;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative
}

* {
    line-height: 1
}

*,
*::before,
*::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300
}

a {
    color: inherit;
    text-decoration: inherit
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.justify {
    text-align: justify
}

.container {
    max-width: 1140px;
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    line-height: 1
}

body {
    font-size: 0;
    font-family: "Nunito Sans"
}

html {
    font-size: 100%
}

input,
textarea,
select {
    min-height: 20px;
    border: 0;
    font-size: 16px
}

.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0.1rem 0;
    width: 100%
}

.lg-text-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    display: inherit;
    height: inherit;
    width: initial;
    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    row-gap: inherit;
    -moz-column-gap: inherit;
         column-gap: inherit;
    -o-object-fit: inherit;
       object-fit: inherit
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

video {
    width: 100%;
    height: 100%;
    -o-object-fit: inherit;
       object-fit: inherit;
    border-radius: inherit
}

span {
    display: block
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.paragraph span,
.headerOne span,
.headerTwo span,
.headerThree span,
.headerFour span,
.headerFive span,
.headerSix span {
    display: inline
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.paragraph a,
.headerOne a,
.headerTwo a,
.headerThree a,
.headerFour a,
.headerFive a,
.headerSix a {
    color: inherit;
    display: inline
}

p strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.paragraph strong,
.headerOne strong,
.headerTwo strong,
.headerThree strong,
.headerFour strong,
.headerFive strong,
.headerSix strong {
    font-weight: 700
}

.cd-slider-v1--slidesWrapper {
    height: 100% !important;
    white-space: nowrap !important;
    position: relative !important;
    display: block !important
}

.cd-slider-v1--slidesWrapper>* {
    white-space: normal
}

.cd-slider-v1--slide {
    display: inline-flex !important;
    vertical-align: top !important
}

.cd-slider-v1--slidesWrapper.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--slide.cd-empty-div {
    padding: 0px 0px 100px 0px !important
}

.cd-slider-v1--arrowBar {
    z-index: 900
}

.cd-slider-v1--arrowBar>* {
    cursor: pointer
}

.cd-slider-v1--slideTransitionLinear .cd-slider-v1--slide {
    transition: transform 700ms linear 0s !important
}

.cd-slider-v1--slideTransitionEaseIn .cd-slider-v1--slide {
    transition: transform 700ms ease-in 0s !important
}

.cd-slider-v1--slideTransitionEaseOut .cd-slider-v1--slide {
    transition: transform 700ms ease-out 0s !important
}

.cd-slider-v1--slideTransitionEaseInOut .cd-slider-v1--slide {
    transition: transform 700ms ease-in-out 0s !important
}

.cd-slider-v1--slideTransitionEaseOutIn .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1) 0s !important
}

.cd-slider-v1--slideTransitionQuadEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important
}

.cd-slider-v1--slideTransitionCubicEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.32, 0.64, 0.45, 0.93) 0s !important
}

.cd-slider-v1--slideTransitionQuartEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.5, 0.9, 0.5, 0.9) 0s !important
}

.cd-slider-v1--slideTransitionQuintEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s !important
}

.cd-slider-v1--slideTransitionSineEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s !important
}

.cd-slider-v1--slideTransitionExpoEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.7, 0, 0.84, 0) 0s !important
}

.cd-slider-v1--slideTransitionElasticEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBounceEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s !important
}

.cd-slider-v1--slideTransitionBackEasing .cd-slider-v1--slide {
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important
}

.termsofuse-e-50:hover {
    background-color: var(--vId-color-token-b)
}

.termsofuse-e-81::-moz-placeholder {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #505050;
    line-height: 26px
}

.termsofuse-e-81::placeholder {
    font-family: var(--vId-font-token-a);
    font-size: 16px;
    color: #505050;
    line-height: 26px
}

.termsofuse-e-81:active {
    border-color: #d0021bff #d0021bff #d0021bff #d0021bff;
    border-width: 1px 1px 1px 1px
}

.termsofuse-e-82:hover {
    background-color: #4a90e2ff;
    border-color: #4a90e2ff #4a90e2ff #4a90e2ff #4a90e2ff;
    color: #ffffffff
}

.termsofuse-e-57:hover {
    box-shadow: 0px 0px 0px 0px #000000;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #9b9b9bff transparent;
    font-weight: 600
}

.termsofuse-e-60:hover {
    font-weight: 600
}

.termsofuse-e-59:hover {
    font-weight: 600
}

.termsofuse-e-58:hover {
    font-weight: 600
}

.termsofuse-e-70:hover {
    box-shadow: 0px 0px 0px 0px #000000;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #9b9b9bff transparent;
    font-weight: 600
}

.termsofuse-e-73:hover {
    font-weight: 600
}

.termsofuse-e-72:hover {
    font-weight: 600
}

.termsofuse-e-71:hover {
    font-weight: 600
}

.termsofuse-e-64:hover {
    box-shadow: 0px 0px 0px 0px #000000;
    border-width: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-color: transparent transparent #9b9b9bff transparent;
    font-weight: 600
}

.termsofuse-e-66:hover {
    font-weight: 600
}

.termsofuse-e-65:hover {
    font-weight: 600
}

@media (max-width:1199px) {
    .termsofuse-e-40 {
        min-height: 20px
    }

    .termsofuse-e-44 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        align-items: center;
        -moz-column-gap: 0px;
             column-gap: 0px;
        background-color: var(--vId-color-token-c);
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        display: none;
        position: fixed;
        min-height: 100vh;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px
    }

    .termsofuse-e-49 {
        margin-left: auto;
        display: flex
    }

    .termsofuse-e-50 {
        display: none
    }

    .termsofuse-e-51 {
        display: flex
    }

    .termsofuse-e-2 {
        flex-direction: column;
        max-width: 720px
    }

    .termsofuse-e-3 {
        font-size: 50px;
        line-height: 60px
    }

    .termsofuse-e-5 {
        align-items: center
    }

    .termsofuse-e-6 {
        font-size: 24px;
        text-align: center;
        line-height: 34px
    }

    .termsofuse-e-35 {
        text-align: center
    }

    .termsofuse-e-9 {
        text-align: center
    }

    .termsofuse-e-10 {
        text-align: center
    }

    .termsofuse-e-12 {
        text-align: center
    }

    .termsofuse-e-13 {
        text-align: center
    }

    .termsofuse-e-15 {
        text-align: center
    }

    .termsofuse-e-16 {
        text-align: center
    }

    .termsofuse-e-18 {
        text-align: center
    }

    .termsofuse-e-19 {
        text-align: center
    }

    .termsofuse-e-21 {
        text-align: center
    }

    .termsofuse-e-22 {
        text-align: center
    }

    .termsofuse-e-27 {
        text-align: center
    }

    .termsofuse-e-28 {
        text-align: center
    }

    .termsofuse-e-30 {
        text-align: center
    }

    .termsofuse-e-31 {
        text-align: center
    }

    .termsofuse-e-33 {
        text-align: center
    }

    .termsofuse-e-34 {
        text-align: center
    }

    .termsofuse-e-24 {
        text-align: center
    }

    .termsofuse-e-25 {
        text-align: center
    }

    .termsofuse-e-78 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px
    }

    .termsofuse-e-84 {
        align-items: center;
        row-gap: 10px
    }

    .termsofuse-e-79 {
        align-items: center
    }

    .termsofuse-e-81 {
        display: inline-block
    }

    .termsofuse-e-53 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px
    }

    .termsofuse-e-54 {
        align-items: center
    }

    .termsofuse-e-67 {
        align-items: center
    }

    .termsofuse-e-61 {
        align-items: center
    }

    .termsofuse-e-74 {
        flex-wrap: wrap;
        row-gap: 20px
    }
}

@media (max-width:767px) {
    .termsofuse-e-40 {
        flex-direction: column;
        position: relative
    }

    .termsofuse-e-41 {
        position: relative
    }

    .termsofuse-e-42 {
        position: relative
    }

    .termsofuse-e-43 {
        position: relative
    }

    .termsofuse-e-44 {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        -moz-column-gap: 0px;
             column-gap: 0px;
        row-gap: 20px;
        background-color: var(--vId-color-token-c);
        position: fixed
    }

    .termsofuse-e-49 {
        position: relative
    }

    .termsofuse-e-45 {
        position: relative
    }

    .termsofuse-e-48 {
        position: relative
    }

    .termsofuse-e-47 {
        position: relative
    }

    .termsofuse-e-46 {
        position: relative
    }

    .termsofuse-e-50 {
        position: relative
    }

    .termsofuse-e-51 {
        position: relative
    }

    .termsofuse-e-1 {
        padding: 100px 16px 80px 16px;
        position: relative
    }

    .termsofuse-e-2 {
        flex-direction: column;
        align-items: center;
        max-width: none;
        position: relative
    }

    .termsofuse-e-3 {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
        position: relative
    }

    .termsofuse-e-4 {
        position: relative
    }

    .termsofuse-e-5 {
        padding: 0px 0px 0px 0px;
        align-items: center;
        position: relative
    }

    .termsofuse-e-6 {
        font-size: 24px;
        text-align: center;
        line-height: 34px;
        position: relative
    }

    .termsofuse-e-35 {
        font-size: 16px;
        padding: 0px 0px 10px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-7 {
        padding: 0px 0px 30px 0px;
        position: relative
    }

    .termsofuse-e-8 {
        position: relative
    }

    .termsofuse-e-9 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-10 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-11 {
        position: relative
    }

    .termsofuse-e-12 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-13 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-14 {
        position: relative
    }

    .termsofuse-e-15 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-16 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-17 {
        position: relative
    }

    .termsofuse-e-18 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-19 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-20 {
        position: relative
    }

    .termsofuse-e-21 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-22 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-26 {
        position: relative
    }

    .termsofuse-e-27 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-28 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-29 {
        position: relative
    }

    .termsofuse-e-30 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-31 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-32 {
        position: relative
    }

    .termsofuse-e-33 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-34 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-23 {
        position: relative
    }

    .termsofuse-e-24 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-25 {
        font-size: 16px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 26px;
        position: relative
    }

    .termsofuse-e-52 {
        position: relative
    }

    .termsofuse-e-78 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        position: relative
    }

    .termsofuse-e-84 {
        align-items: center;
        row-gap: 10px;
        position: relative
    }

    .termsofuse-e-86 {
        position: relative
    }

    .termsofuse-e-85 {
        position: relative
    }

    .termsofuse-e-79 {
        flex-wrap: wrap;
        align-items: center;
        row-gap: 10px;
        position: relative
    }

    .termsofuse-e-80 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        position: relative
    }

    .termsofuse-e-81 {
        text-align: center;
        position: relative
    }

    .termsofuse-e-82 {
        width: 100%;
        max-width: 365px;
        position: relative
    }

    .termsofuse-e-83 {
        position: relative
    }

    .termsofuse-e-53 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px;
        position: relative
    }

    .termsofuse-e-54 {
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative
    }

    .termsofuse-e-55 {
        position: relative
    }

    .termsofuse-e-56 {
        position: relative
    }

    .termsofuse-e-57 {
        position: relative
    }

    .termsofuse-e-60 {
        position: relative
    }

    .termsofuse-e-59 {
        position: relative
    }

    .termsofuse-e-58 {
        position: relative
    }

    .termsofuse-e-67 {
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative
    }

    .termsofuse-e-68 {
        position: relative
    }

    .termsofuse-e-69 {
        position: relative
    }

    .termsofuse-e-70 {
        position: relative
    }

    .termsofuse-e-73 {
        position: relative
    }

    .termsofuse-e-72 {
        position: relative
    }

    .termsofuse-e-71 {
        position: relative
    }

    .termsofuse-e-61 {
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative
    }

    .termsofuse-e-62 {
        position: relative
    }

    .termsofuse-e-63 {
        position: relative
    }

    .termsofuse-e-64 {
        position: relative
    }

    .termsofuse-e-66 {
        position: relative
    }

    .termsofuse-e-65 {
        position: relative
    }

    .termsofuse-e-74 {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        position: relative
    }

    .termsofuse-e-75 {
        position: relative
    }

    .termsofuse-e-76 {
        flex-wrap: wrap;
        row-gap: 10px;
        position: relative
    }

    .termsofuse-e-77 {
        position: relative
    }
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400
}